<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
</head>
<body>
    <h3>All Chats</h3>
<form action="">
    <button>New Chat</button>
</form>
   <% for(let chat of chats) { %>
        <div class="chat">
           <p> From : <i> <%= chat.from %></i></p>
        
        <div class="msg">
            <p> Message : <i> <%= chat.msg %></i></p>
        </div>
        <p> Recieved By <i> <%= chat.to %></i></p>
        <hr>
    </div>
    <br /><br />
  <% } %>
</body>
</html>