<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>This is Home page</h1>
    <h3> <%= 1+5 %> </h3>
    <p style="width:5rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit enim aliquam quasi, atque itaque officiis doloremque nihil recusandae, nostrum, vitae aperiam repudiandae? Soluta animi consequatur iste dolorem architecto doloribus quae! Laudantium, cumque?
    </p>
    <button>Like</button>
</body>
</html>