<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Matters</h1>
    <% for(post of posts){ %>
        <div class="post">
            <h2 class="user" >@<%= post.username %></h2>
            <h4 class="content"><%= post.content %></h4>
        </div> 
    <% } %>
</body>
</html> 

